<div class="container" (window:resize)="onResize($event)">
    <div class="support">
        <img id="support" src="{{support}}" alt="support">  
    </div>
    <div *ngIf="isCameraExist; else noCameraExist" class="picture">

<div class="cam">
                <webcam [width]="800" [height]="800" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
</div>

                <div class="btn-group">
                    <div class="button_border">
                       <button class="button takePicture" (click)="takeSnapshot()"></button> 
                    </div>
                    
                    <button class="button" (click)="changeWebCame(true)">Toggle Camera</button>
                    <button class="button" (click)="onOffWebCame()">Switch camera</button>
                </div> <br />

    
        <div *ngIf="errors.length > 0">
            <h4>Error Messages:</h4>
            <ul *ngFor="let error of errors">
                <li>{{ error | json }}</li>
            </ul>
        </div>
    </div>
    
    <ng-template #noCameraExist>
        Camera device not available
    </ng-template>
    <div class="return" [routerLink]="['/power']" routerLinkActive="router-link-active" ></div>
</div>
