.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
    .support{
        pointer-events: none;
    }
    #support{
        height: 100%;
        width: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        pointer-events: none;
        z-index: 2;
    }
    .top{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 2.5%;
        height: 2.5rem;
        width: 86%;
        border-radius: 50px 50px 0 0;
        margin: 0 auto;
        z-index: 1;
        background: rgba(118, 118, 118, 0.477);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10.9px);
        -webkit-backdrop-filter: blur(10.9px);
        
        .top_icons{
            position: relative;
            top: 19%;
            margin-right: 20px;
            .icon{
                height: 20%;
                margin: 0 5px;
            }
        }
        .hours{
            color: white;
            margin-left: 20px;
        }
    }
    .map{
        height: 98%;
        width: 90%;
        overflow: hidden;
        position: relative;
        top: -2%;
        margin: 0 auto;
        border-radius: 20px;
        z-index: 0;
    }
    .return{
        height: 5px;
        width: 150px;
        position: relative;
        background-color: white;
        z-index: 3;
        border-radius: 50px;
        bottom: 25px;
        margin: 0 auto;
    }
}